In [3]:
x = 3
y = 1
z = x + y
print(z)

4

In [4]:
i = 1
j = 2
print (i + j)

3

In [7]:
x = 3
y = 1
z = x * y
print(z)

3

In [6]:
rad = 2
pi = 3.14
area = (pi * rad**2)
print(area)

12.56

In [9]:
name = "Yee"
job_title = "Intelligence Analyst"
name_job = f"My name is {name}, and my job title is {job_title}."
print(name_job)

My name is Yee, and my job title is Intelligence Analyst.

In [1]:
slice_this_phrase = "dog cat racoon"
animal_1 = slice_this_phrase[:3]
animal_2 = slice_this_phrase[4:7]
animal_3 = slice_this_phrase[-6:]

print(animal_1)
print(animal_2)
print(animal_3)

dog
cat
racoon

In [1]:
dict_1 = {}
print(type(dict_1))

<class 'dict'>

In [ ]:
staff_member = {'Name':'Yee',
                'Job title':'Teacher',
                'Hours':'Too many',
                'Salary':'10'}

In [10]:
restaurants = {'McD':'Burgers',
               'KFC':['wings','strips','corn','gravy'],
               'pizza_hut':{'pizza':5,
                            'chips':2,
                            'bread':1}}

restaurants['kebab shop'] = 'kebabs'
print(restaurants)

{'McD': 'Burgers', 'KFC': ['wings', 'strips', 'corn', 'gravy'], 'pizza_hut': {'pizza': 5, 'chips': 2, 'bread': 1}, 'kebab shop': 'kebabs'}

In [12]:
print(restaurants.keys())
print(restaurants.values())

print(restaurants.items())

print('McD' in restaurants)

dict_keys(['McD', 'KFC', 'pizza_hut', 'kebab shop'])
dict_values(['Burgers', ['wings', 'strips', 'corn', 'gravy'], {'pizza': 5, 'chips': 2, 'bread': 1}, 'kebabs'])
dict_items([('McD', 'Burgers'), ('KFC', ['wings', 'strips', 'corn', 'gravy']), ('pizza_hut', {'pizza': 5, 'chips': 2, 'bread': 1}), ('kebab shop', 'kebabs')])
True

In [2]:
import pandas as pd

filepath = 'https://raw.githubusercontent.com/data-to-insight/csc-validator-be-903/main/tests/fake_data/header.csv'

header_fake = pd.read_csv(filepath)

In [7]:
print(header_fake.head(10))
print(header_fake.tail(10))
print(header_fake.info())
# print(type(header_fake))

    CHILD  SEX         DOB ETHNIC            UPN  MOTHER MC_DOB
0  566910    2  27/03/2008   WROM  D051910639385     NaN    NaN
1  384923    2  09/09/2011   REFU  L034811502612     NaN    NaN
2  709901    1  14/02/2013   ABAN  Y021751958510     NaN    NaN
3  550084    2  04/05/2008   AOTH  R095578985099     NaN    NaN
4  710229    2  15/04/2002   REFU  Z095096287583     NaN    NaN
5  733831    1  06/07/2013   WROM  Z005227500041     NaN    NaN
6   69112    2  11/09/2010   ABAN  X089575916879     NaN    NaN
7  853884    2  09/10/2004   WBRI  U096513817313     NaN    NaN
8  634852    2  19/10/2006   WIRI  X019131453866     NaN    NaN
9  512087    1  01/10/2003   MOTH  J091207487052     NaN    NaN
       CHILD  SEX         DOB ETHNIC            UPN  MOTHER MC_DOB
2665  199656    1  08/07/2009   WOTH  G006043737339     NaN    NaN
2666  587124    1  14/10/2006   AOTH  X013739746473     NaN    NaN
2667  558581    1  05/07/2001   MWBC  S048947751783     NaN    NaN
2668  937984    2  08/05/2008   WROM  B072095547455     NaN    NaN
2669  942735    2  27/10/2010   BCRB  V010957149459     NaN    NaN
2670  152113    1  06/06/2003   WBRI  K096794376750     NaN    NaN
2671  481370    2  12/02/2008   BAFR  C014150452081     NaN    NaN
2672  791577    1  28/05/2011   WBRI  Q009369089812     NaN    NaN
2673  238470    1  21/11/2013   AIND  P095222532769     NaN    NaN
2674  437361    1  15/12/2012   WROM  G018001328504     NaN    NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2675 entries, 0 to 2674
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CHILD   2675 non-null   int64
 1   SEX     2675 non-null   int64
 2   DOB     2675 non-null   object
 3   ETHNIC  2675 non-null   object
 4   UPN     2675 non-null   object
 5   MOTHER  1 non-null      float64
 6   MC_DOB  1 non-null      object
dtypes: float64(1), int64(2), object(4)
memory usage: 146.4+ KB
None

In [4]:
# dict of list
d_1 = {'col1':[1, 2, 3],
       'col2':['A', 'B', 'C'],
       'col3':['foo', 'bar', 'baz']}

df_1 = pd.DataFrame(d_1)
print(df_1)

   col1 col2 col3
0     1    A  foo
1     2    B  bar
2     3    C  baz

In [1]:
# list of dicts
emp_list = pd.DataFrame([
    {'first_name':'John',
     'surname':'Smith',
     'salary':'1000',
     'job_title':'Administrator'},
     {'first_name':'Tom',
     'surname':'Jones',
     'salary':'1500',
     'job_title':'IT Guy'},
     {'first_name':'Sarah',
     'surname':'Lottle',
     'salary':'500',
     'job_title':'Cook'},
     {'first_name':'Kelly',
     'surname':'Taylor',
     'salary':'900',
     'job_title':'Receptionist'},
     {'first_name':'Mark',
     'surname':'Henry',
     'salary':'2000',
     'job_title':'Manager'}
])

emp_list['salary'] = emp_list['salary'].astype('int')
# print(emp_list.info())
print(emp_list['salary'].dtypes)

mean_salary = emp_list['salary'].mean()
sum_salary = emp_list['salary'].sum()
max_salary = emp_list['salary'].max()
min_salary = emp_list['salary'].min()

print(f'The mean salary is: {mean_salary}.')
print(f"The total of salaries is: {sum_salary}")
print(f'The max and min salaries respectively are {max_salary}, {min_salary}.')

NameError: name 'pd' is not defined

In [87]:
import pandas as pd

In [88]:
filename = r"https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv"

df = pd.read_csv(filename)

df = df[['LAchildID','PersonBirthDate','GenderCurrent']]

print(df.head())

         LAchildID PersonBirthDate  GenderCurrent
0  RND000215205141      2019-12-06              1
1  RND000824303014      2011-04-27              9
2  RND000750143123      2017-06-06              1
3  RND000909164501      2014-10-03              0
4  RND000382171815      2019-09-25              2

In [89]:
import numpy as np


df['PersonBirthDate'] = pd.to_datetime(df['PersonBirthDate'], format='%Y-%m-%d', errors='coerce')

df['Age'] = pd.to_datetime('today').normalize() - df['PersonBirthDate']

df['Age'] = (df['Age'] / pd.Timedelta('365 days')).astype('int')

#df['Age of Data (Years)'] = (df['Age of Data (Years)'] / pd.Timedelta('365 days')).astype('int')
print(df)

           LAchildID PersonBirthDate  GenderCurrent  Age
0    RND000215205141      2019-12-06              1    4
1    RND000824303014      2011-04-27              9   12
2    RND000750143123      2017-06-06              1    6
3    RND000909164501      2014-10-03              0    9
4    RND000382171815      2019-09-25              2    4
..               ...             ...            ...  ...
327  RND000112711501      2010-07-07              2   13
328  RND000513120794      2018-08-14              2    5
329  RND000541643134      2021-12-09             51    2
330  RND000404939452      2013-07-23              2   10
331  RND000589802835      2021-10-25              9    2

[332 rows x 4 columns]

In [90]:
gender_map = {1:'Male',
            2:'Female',
            0:'unknown',
            9:'unknown' 
                }
df['GenderCurrent'] = df['GenderCurrent'].map(gender_map)

# is_15_or_under_condition = df['Age'] <= 15
# #print(over_18_condition)
# sliced_df = df[df['Age'] > 18]
# print(sliced_df)

condition_1 = (df['Age'] <= 15) | (df['GenderCurrent'] == 'Male')
df_1 = df[condition_1]

condition_2 = (df['Age'] >= 15) | (df['GenderCurrent'] == 'Female')
df_2 = df[condition_2]

print(df_2)

           LAchildID PersonBirthDate GenderCurrent  Age
4    RND000382171815      2019-09-25        Female    4
6    RND000852873211      2013-01-19        Female   11
7    RND000756924984      2021-04-04        Female    2
8    RND000783483042      2011-11-22        Female   12
12   RND000078434730      2012-05-30        Female   11
..               ...             ...           ...  ...
325  RND000174662411      2005-08-08           NaN   18
326  RND000033895249      2007-12-25       unknown   16
327  RND000112711501      2010-07-07        Female   13
328  RND000513120794      2018-08-14        Female    5
330  RND000404939452      2013-07-23        Female   10

[144 rows x 4 columns]